/*For alle siderne*/

*   {margin: 0;
    box-sizing: border-box;}

a   {text-decoration: none;
    color: #2f2418;}

/*Teksttyper*/
/*Inter Extralight*/

.IEH1   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 8vw;
        color: #2f2418;}

.IEH2   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 2.25vw;
        color: #2f2418;}

/*.IEH3   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 2vw;
        color: #2f2418;}*/ /*slettet*/

/*Inter Regular*/

.IRH1   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.1vw;
        color: #2f2418;}

.IRH2   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.8vw;
        color: #2f2418;}

.IRH3   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.8vw;
        color: #2f2418;}

/*Playfair Display Italic*/

.PFH1   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 3vw;
        color: #2f2418;}

.PFH2   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 1.5vw;
        color: #2f2418;}

.PFH3   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 1vw;
        color: #2f2418;}

/*Header*/

header  {display:flex;
        position: fixed;
    
        justify-content: space-between;
        align-items: center;

        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-size: 1vw;
        /*background-color: rgb(181, 89, 89);*/
        background-color: #f3f1ed;
}

#logo   {width: 7vw;
        margin: 3vw;}

#kurv   {width: 2.5vw;
        margin-left: 2vw;}

#menu   {margin-right: 40vw;}

#menu a {margin-right: 2vw;}

#login_kurv {display: flex;
            align-items: center;
            margin: 3vw;}

/*Styles til måltidskassesiderne + styles til den hurtige*/
#maaltidskassebaggrund{
        background-color: #f3f1ed;
        padding: 0 3vw 0 3vw;
        height: 80vh;
}

#hurtigh1{
        color: #f8aaf8;
}

.artikelmaaltidskasse{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /*de to "kolonner"*/
}

.vantalmedbeskrivelse{
        width: 32vw; /*bredden af den beskrivelsessiden*/
}


.vantal{
        display: flex; /*så vpersoner og vdage står på samme række*/
        margin: 3% 0; /*afstand under og over talknapper*/
}

.vpersoner{
        width: 50%;
}

.vdage{
        width: 50%;
}

/*Almas styles til filterknapperne*/
.filterknap     {background-color: #F3F1ED;
        border: 0.1vw #2f2418;
        color: #2f2418;
        border-style: solid;
        border-radius: 50%;
        height: 2vw;
        width: 2vw;

        text-align: center;
        text-decoration: none;
        display: inline-block;}

#vælgperson{
        line-height: 4vh;
        text-transform: uppercase;
        margin-top:3%;
}
    

#vælgdage   {
        line-height: 4vh;
        text-transform: uppercase;
        margin-top:3%;
}

button:link       {color:#2f2418;}
button:visited    {color:#2f2418;}
button:hover      {color:#D51B2F;}  
button:active     {color:#D51B2F;}

.maaltidskassebeskrivelse{
        background-color: #ffffff;
        padding: 10% 10% 5% 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
}

.treikoner{
        display: flex; /*så de også står på række*/
        justify-content: space-around;
        margin: 12% 10% 0% 10%;
}

.ikonmtekst {
        text-align: center;
}

.ikonmtekst img{
        height: 6vh;
}

/*Ugens menu*/
.menubaggrund{
        background-color: #ffffff;
        width: 57.5vw;
        height: 49vh; /*højden på billedebaggrund*/
}

#hurtigmenubaggrund{
        background-image: url(billeder/ugensmenupladsholderbillede.jpg);
        background-position: fill;
}

.ugensmenukort{
        display: flex; /*så dagkortene står på række*/
        justify-content: space-between;
        align-items: end; /*kortene står mere i bunden*/
        padding: 4%;
        height: 50vh; /*samme højde som billedet, så dagkortene kan blive skubbet ned i bunden af "billedet"*/
}

.dagkort{
        background-color: #f3f1ed;
        width: 17%;
        height: 90%;
        padding: 1%;
        display: flex; /*så dagkort content kan få space between*/
        flex-direction: column;
        justify-content: space-between; /*Så dagkort content starter og slutter på samme række*/
        text-align: center;
        
}

.tidogvis{
        display: flex; /*så tid og "vis opskrift" står på samme række*/
        justify-content: space-around;
        align-items: end;
}

.ikonmtekstkort img{
        height: 3.5vh;
}

.tidogvis a{
        font-style: italic;
        line-height: 2vh;
}

.prisogkurv{
        display: flex;
        text-align: right;
        justify-content: right;
        margin-top: 2%; /*afstand mellem ugensmenu billede og prisen*/
}

.tilføjkurv{
        height: 8.5vh;
        color: #2f2418;
        width: 11.5vw;
        font-size: 1.1vw;
        border-style: none;

}

.totalogprpris {
        margin-right: 3.5%;
}

#tilføjkurvhurtig{
        background-color: #f8aaf8;
}

/*Styles til den klassiske måltidskasse*/ /*baggrundsbillede og retterne mangler*/
#tilføjkurvklassiske{
        background-color: #2f2418;
        color: #ffffff; 
}

/*slut styles til måltidskassesiderne*/



/*CSS KODE til forside, om os & 404 siden*/

/*Forsidens CSS*/
/*"Første" forside*/

.scroller   {height: 100vh;
            overflow-y: scroll;
            scroll-snap-type: y mandatory;
            scroll-behavior: smooth;}

.scroll-element {width: 100vw;
                height: 100vh;
                scroll-snap-align: start;
                overflow-y: hidden;
            
                display: flex;}

#scroll1        {display: flex;
                flex-direction: column;
                justify-content: center;
                justify-content: space-around;
                align-items: center;
                padding-top: 10%;}

#scroll2        {display: flex;
                align-items: center;
                padding-top: 5%;
                padding-left: 10%;
                padding-right: 10%;
                justify-content: space-between;
    
                background-color: #F3F1ED;}

#nipponintro    {display: flex;
                align-items: center;
                flex-direction: row;}

#forside-billede        {width: 20vw;
                        margin-left: 1.5vw;
                        margin-right: 1.5vw;}

#forsidetekst1  {text-align: right;
                padding-bottom: 30vh;}

#forsidetekst2  {padding-top: 30vh;}

#linkvidere     {text-align: center;}

/*"Anden" forsideside*/

#måltidskasse-oversigt  {list-style-type: none;
                        line-height: 10vh;}

#læsmere1       {color: #F8AAB8;}
#læsmere1:hover {color: #D51B2F;}

#læsmere2       {color: #2f2418;}
#læsmere2:hover {color: #D51B2F;}

#læsmere3       {color: #005541;}
#læsmere3:hover {color: #D51B2F;}

#læsmere4       {color: #FF9247;}
#læsmere4:hover {color: #D51B2F;}

/*Vælg antal personer og antal dage*/

#vælgknapper    {display: flex;}

.vælgknap       {margin-right: 4vw;
                line-height: 4vh;
                text-transform: uppercase;}

.filterknap     {border: 0.1vw #2f2418;
                border-style: solid;
                border-radius: 50%; 
                background-color: #F3F1ED;
                color: #2f2418;
                height: 2vw;
                width: 2vw;}

.filterknap:link       {color:#2f2418;}
.filterknap:visited    {color:#2f2418;} 
.filterknap:hover      {color:#D51B2F;}  
.filterknap:active     {color:#D51B2F;}

/*Hoverkort*/

.kortbillede    {width: 20vw;}

.kortikoner     {display: flex;
                justify-content: space-around;
                text-align: center;
                margin-top: 1.5vw;}

.kortikon       {height: 4vh;}

.kortikontekst  {width: 5.5vw;}

.korttekst      {align-content: center;
                justify-content: center;
                justify-content: space-around;
                margin: 2vw;}

#pris   {text-align: right;}

#hurtig-kort    {background-color: #F8AAB8;
                height: 34vw;
                width: 20vw;

                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                
                display: none;}

#klassisk-kort  {background-color: #2f2418;
                color: #F3F1ED;
                height: 34vw;
                width: 20vw;

                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                
                display: none;}

#økonomisk-kort {background-color: #005541;
                color: #F3F1ED;
                height: 34vw;
                width: 20vw;

                justify-content: center;
                align-items: center;
                justify-content: space-evenly;
                
                display: none;}

#eksperimenterende-kort {background-color: #FF9247;
                        height: 34vw;
                        width: 20vw;

                        justify-content: center;
                        align-items: center;
                        justify-content: space-evenly;
                        
                        display: none;}

/*OM OS CSS*/

#omosside       {display: flex;
                padding-top: 10%;
                text-align: center;
                justify-content: center;
                justify-content: space-evenly;}

#kontaktkort    {display: flex;
                width: 21vw;
                height: 70vh;
                flex-direction: column;
                color: #F3F1ED;
                background-color: #2f2418;
                padding: 1.5vw;
                text-align: center;}

#tilhøjre       {text-align: right;} 

#historiekort   {display: flex;
                width: 21vw;
                height: 70vh;
                flex-direction: column;
                color: #F3F1ED;
                background-color: #005541;
                text-align: center;}

#historiekort img       {margin-top: 0;
                        margin-bottom: 1vh;}

#historiekort p         {text-align: left;
                        padding: 1.5vw;}

#konceptkort   {display: flex;
                width: 21vw;
                height: 70vh;
                flex-direction: column;
                color: #2f2418;
                background-color: #F8AAB8;
                padding: 1.5vw;
                text-align: center;}

.konceptknap    {background-color: #2f2418;
                border: 0.1vw #2f2418;
                color: #F3F1ED;
                border-style: solid;
                border-radius: 50%; 
                height: 4vw;
                width: 4vw;
        
                text-align: center;
                text-decoration: none;
                display: inline-block;}


.totrin {display: flex;
        padding: 0.5vw;}

.trin   {width: 10vw;}

#trinene{align-items: center;
        justify-content: center;
        justify-content: space-evenly;}

/*404 CSS*/

#fejlside   {background-image: url(billeder/beklager.jpg);
            width: 100vw;
            height: 100vh;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            text-align: center;
            justify-content: center;}

#beklager   {padding-top: 40vh;}
