/*For alle siderne*/

*   {margin: 0;
    box-sizing: border-box;}

a   {text-decoration: none;
    color: #2f2418;}

/*Teksttyper*/
/*Inter Extralight*/

.IEH1   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 8vw;
        color: #2f2418;}

.IEH2   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 3vw;
        color: #2f2418;}

.IEH3   {font-family: 'Inter', sans-serif;
        font-weight: 200;
        font-size: 2vw;
        color: #2f2418;}

/*Inter Regular*/

.IRH1   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 1.1vw;
        color: #2f2418;}

.IRH2   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.8vw;
        color: #2f2418;}

.IRH3   {font-family: 'Inter', sans-serif;
        font-weight: 400;
        font-size: 0.5vw;
        color: #2f2418;}

/*Playfair Display Italic*/

.PFH1   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 3vw;
        color: #2f2418;}

.PFH2   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 1.5vw;
        color: #2f2418;}

.PFH3   {font-family: 'Playfair Display', serif;
        font-style: italic;
        font-size: 1vw;
        color: #2f2418;}

/*Header*/

header  {display:flex;
    
        justify-content: space-between;
        align-items: center;

        font-family: 'Inter', sans-serif;
        text-transform: uppercase;
        font-size: 1vw;}

#logo   {width: 7vw;
        margin: 3vw;}

#kurv   {width: 2.5vw;
        margin-left: 2vw;}

#menu   {margin-right: 45vw;}

#menu a {margin-right: 2vw;}

#login_kurv {display: flex;
            align-items: center;
            margin: 3vw;}
